name: CI - Build & Scan

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - '.github/workflows/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read        # for checkout
      pull-requests: read   # for paths-filter on PRs
    outputs:
      services: ${{ steps.filter.outputs.changes }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check for changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            adservice: src/adservice/**
            cartservice: src/cartservice/**
            checkoutservice: src/checkoutservice/**
            currencyservice: src/currencyservice/**
            emailservice: src/emailservice/**
            frontend: src/frontend/**
            loadgenerator: src/loadgenerator/**
            paymentservice: src/paymentservice/**
            productcatalogservice: src/productcatalogservice/**
            recommendationservice: src/recommendationservice/**
            shippingservice: src/shippingservice/**
            shoppingassistantservice: src/shoppingassistantservice/**

  build:
    needs: changes
    # Only run if there arent't changes, i want to let it run for now, debugging purpose
    if: ${{ needs.changes.outputs.services == '[]' && needs.changes.outputs.services == '' }}
    permissions:
      contents: read
      packages: write
      security-events: write
    strategy:
      matrix:
        service: ${{ fromJSON(needs.changes.outputs.services) }}
      fail-fast: false
    
    uses: ./.github/workflows/reusable-build.yaml
    with:
      service: ${{ matrix.service }}
      context_dir: ./src/${{ matrix.service }}
    secrets: inherit

  # ===========================================================================
  # DEPLOY JOB (GitOps Write-Back)
  # ===========================================================================
  # This job runs ONLY on push to 'main' (not on PRs) and only if builds succeeded.
  # It calls the reusable deploy workflow.
  # ===========================================================================
  deploy:
    needs: build
    # Only run on push to main
    ##disable this for now, for debugging purpose
    #if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reusable-deploy.yaml
    secrets: inherit
